<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

 <context:property-placeholder location="classpath:property/*.properties"/>


   <context:component-scan base-package="com.hss.cart.service.impl" />

    <!-- 使用dubbo发布服务 -->
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="taotao-manager" />
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" />

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20884" />
    <!-- 声明需要暴露的服务接口 -->
    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.hss.cart.service.CartService" ref="cartServiceImpl"  timeout="300000"/>


 <bean class="redis.clients.jedis.JedisPool">
  <constructor-arg name="host" value="127.0.0.1"></constructor-arg>
  <constructor-arg name="port" value="6379"></constructor-arg>
 </bean>
 <bean class="com.hss.redis.JedisClientPool"></bean>
 <!-- 配置集群版 -->
 <!-- <bean class="redis.clients.jedis.JedisCluster">
     <constructor-arg name="nodes">
         <set>
             <bean class="redis.clients.jedis.HostAndPort">
                 <constructor-arg name="host" value="192.168.25.153"></constructor-arg>
                 <constructor-arg name="port" value="7001"></constructor-arg>
             </bean>
             <bean class="redis.clients.jedis.HostAndPort">
                 <constructor-arg name="host" value="192.168.25.153"></constructor-arg>
                 <constructor-arg name="port" value="7002"></constructor-arg>
             </bean>
             <bean class="redis.clients.jedis.HostAndPort">
                 <constructor-arg name="host" value="192.168.25.153"></constructor-arg>
                 <constructor-arg name="port" value="7003"></constructor-arg>
             </bean>
             <bean class="redis.clients.jedis.HostAndPort">
                 <constructor-arg name="host" value="192.168.25.153"></constructor-arg>
                 <constructor-arg name="port" value="7004"></constructor-arg>
             </bean>
             <bean class="redis.clients.jedis.HostAndPort">
                 <constructor-arg name="host" value="192.168.25.153"></constructor-arg>
                 <constructor-arg name="port" value="7005"></constructor-arg>
             </bean>
             <bean class="redis.clients.jedis.HostAndPort">
                 <constructor-arg name="host" value="192.168.25.153"></constructor-arg>
                 <constructor-arg name="port" value="7006"></constructor-arg>
             </bean>
         </set>
     </constructor-arg>
 </bean>
 <bean class="com.taotao.content.jedis.JedisClientCluster"></bean> -->
</beans>